@{
    ViewData["Title"] = "GoogleCalendar";
}

<h2>Google Calendar</h2>

<div id="calendar"></div>


<p>
    <a asp-controller="GoogleCalendar" asp-action="CreateEvent">Create Event</a>
</p>
@section Scripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <script>
        $(document).ready(function () {et
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                defaultDate: '@DateTime.Now.ToString("yyyy-MM-dd")',
                editable: false,
                eventLimit: true, // allow "more" link when too many events,
                events: function (start, end, timezone, callback) {
                    $.ajax({
                        url: '/GoogleCalendar/GetEvents',
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            var events = data;
                            callback(events);
                        },
                        error: function () {
                            alert('Error fetching events');
                        }
                    });
                }
            });
        });
    </script>
}