@model EventModel
@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "CreateEvent";
}
<style>
    body {
        margin-top: 30px; /* Add some space on top */
    }

    .btn-turquoise {
        background-color: turquoise;
        color: white;
        transition: background-color 0.3s, color 0.3s;
        margin-top: 3%;
    }

        .btn-turquoise:hover {
            background-color: blue; /* Set hover color to blue */
            color: white;
        }

    .wider-form {
        width: 70%;
        margin: auto; /* Center the form */
    }

    .form-control {
        font-size: 18px;
    }

    .form-control-textarea {
        font-size: 18px;
        height: 150px;
    }

    .form-label {
        font-size: 16px;
    }

    .form-title {
        font-size: 30px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
</style>

<div class="d-flex justify-content-center">
    <form asp-controller="GoogleCalendar" asp-action="CreateEvent" method="post" class="wider-form">
        <h2 class="text-center form-title">Create Event</h2>

        <div class="form-group">
            <label asp-for="Summary" class="form-label"></label>
            <input asp-for="Summary" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" class="form-control form-control-textarea"></textarea>
        </div>

        <div class="form-group">
            <label asp-for="StartDateTime" class="form-label"></label>
            <input asp-for="StartDateTime" type="datetime-local" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="EndDateTime" class="form-label"></label>
            <input asp-for="EndDateTime" type="datetime-local" class="form-control" />
        </div>

        <div class="form-group">
            <label for="googleAccounts" class="form-label">Select Google Account:</label>
            <select class="form-control" id="googleAccounts" name="googleAccount">
                @foreach (var testUser in ViewBag.TestUsers)
                {
                    <option value="@testUser">@testUser</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-turquoise btn-block">Create Event/Task</button>
    </form>
</div>
